.tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 5px;
}

.tg td {
    border: 1px solid #edf1f7;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    word-break: normal;
    text-align: left !important;
}
.tg th {
    border: 1px solid #edf1f7;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    word-break: normal;
    font-weight: bold !important;
}
.tg .tg-0pky {
    text-align: center;
    vertical-align: middle;
    margin-left: 10px;
    padding: .375em .75em;
}
.tg .tg-0lax {
    text-align: left;
    text-align: center;
    vertical-align: middle;
    margin-left: 10px;
    padding: .375em .75em;
    .action {
        cursor: pointer;
        font-size: 15px;
    }
    .action-edit {
        float: left;
        width: 100%;
        text-align: center;
        .action {
            padding: 5px 7px;
        }
        .reset {
            color: red;
        }
        .save {
            color: blue;
        }
    }
    .error {
        color: red;
    }
}

.tg tr:hover {
    background-color: #edf1f7;
}

.acctiveClass {
color: #ffffff;
background-color: #3366ff;
padding: 0.75rem 1.25rem;
font-size: 0.875rem;
line-height: 1rem;
cursor: pointer;
}

.unactiveClass {
color: #3366ff;
background-color: #ffffff;
padding: 0.75rem 1.25rem;
font-size: 0.875rem;
line-height: 1rem;
cursor: pointer;
}
.bgd4 {
    background-color: #F5F7F8;
}

.card-block-small {
    h1 {
        text-align: left;
    }
}

.w120px {
    width: 120px;
}

