.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    border-radius: 3px;
    background-color: #f1f1f1;
    border: 1px solid #d9d9d9;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 5px;
  }
  
  .closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
  }
  
  .closebtn:hover {
    color: #000;
  }
  .chips {
    background-color: #f1f1f1;
    border: 1px solid #d9d9d9;
    font-size: 15px;
    padding: 0 25px;
    margin-top: 3px;
  }

  .w100 {
    width: 100%;
  }
  .w70p {
    width: 70px;
  }