<div class="row">
  <div class="col-md-12 col-xl-12">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <h1>Tạo course</h1>

        <ngx-loading [showIf]="loading" *ngIf="(itemZoneEdit$ | async) as itemZoneEdit" style="width: 100%;" >
        
          <table class="tg" style="width: 100%;">
            <tbody >
              <tr>
                <th class="tg-0pky bgd4 w120px">Tên course<span style="color: red;"> *</span></th>
                <td class="tg-0lax">
                  <input type="text" class="input-item w100" [(ngModel)]="createCourse.name"
                    placeholder="name" [formControl]="stateName"/>
  
                    <div *ngIf="validDetailCourse.detect_name" style="color: red;">
                      {{validDetailCourse.smg_name}}
                    </div>
                </td>
              </tr>
              <tr>
                <th class="tg-0pky bgd4 w120px">Mô tả<span style="color: red;"> *</span></th>
                <td class="tg-0lax">
                  <input type="text" class="input-item w100" [(ngModel)]="createCourse.description"
                    placeholder="description" [formControl]="stateDis"/>
  
                    <div *ngIf="validDetailCourse.detect_description" style="color: red;">
                      {{validDetailCourse.smg_description}}
                    </div>
                </td>
              </tr>
              <tr>
                <th class="tg-0pky bgd4 w120px">Kiểu bố cục</th>
                <td class="tg-0lax">
                  <select class="rounded-inputs20 select-select col-md-3" (change)="onChangeType($event.target.value)">
                    <option *ngFor="let item of lstWidth" [value]="item" [selected]="item === layoutTypeItem" >{{item}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th class="tg-0pky bgd4 w120px">Zone</th>

                <td class="tg-0lax">
                  <select class="rounded-inputs20 select-select col-md-3"
                      (change)="onChangeZone($event.target.value)">
                    <option *ngFor="let item of itemZoneEdit" [value]="item.id" >{{item.name}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th class="tg-0pky bgd4 w120px">Banner<span style="color: red;"> *</span></th>
                <td class="tg-0lax">
                  <input type="file" (change)="onSelectFile($event)"/>
  
                  <div *ngIf="validDetailCourse.detect_banner" style="color: red;">
                    {{validDetailCourse.smg_banner}}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="col-sm-12" style="margin-top: 15px;">
            <button type="button" class="btn btn-outline-secondary" (click)="cancelEdit()">
              <fa-icon class="action" [icon]="['far', 'window-close']" ></fa-icon> Hủy
            </button>

            <button type="button" class="btn btn-outline-primary" style="margin-left: 20px;" (click)="createCourseFunc()">
              <fa-icon class="action" [icon]="['fas', 'check']" ></fa-icon> Xác Nhận
            </button>
          </div>

        </ngx-loading>


      </div>
    </div>
  </div>
</div>
