.tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 5px;
}

.tg td {
    border: 1px solid #f0f0f0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    word-break: normal;
    text-align: left !important;
    white-space: unset !important
}
.tg th {
    border: 1px solid #f0f0f0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    word-break: normal;
    font-weight: bold !important;
}
.tg .tg-0pky {
    text-align: center;
    vertical-align: middle;
    margin-left: 10px;
    padding: .375em .75em;
}
.tg .action-all {
    text-align: center !important;
}
.tg .tg-0lax {
    text-align: left ;
    vertical-align: middle;
    margin-left: 10px;
    padding: .375em .75em;
    .action {
        cursor: pointer;
        font-size: 15px;
    }
    .action-edit {
        float: left;
        width: 100%;
        text-align: center;
        .action {
            padding: 5px 7px;
        }
        .reset {
            color: red;
        }
        .save {
            color: blue;
        }
    }
    .error {
        color: red;
    }
    .card-content {
        border: 1px solid #d4d4d4;
        border-radius: 3px;
        background-color: #fafafa;
        margin-top: 5px;
        .card {
            margin-bottom: unset !important;
        }
        .title-group {
            width: 100%;
            padding: 7px 10px;
        }
        .ngx-collapse {
            border-top: 1px solid #d4d4d4;
        }
        .close {
            text-align: right;
        }
    }
}

.tg tr:hover {
    td {
        background-color: #edf1f7;
    }
}

.acctiveClass {
color: #ffffff;
background-color: #3366ff;
padding: 0.75rem 1.25rem;
font-size: 0.875rem;
line-height: 1rem;
cursor: pointer;
}

.unactiveClass {
color: #3366ff;
background-color: #ffffff;
padding: 0.75rem 1.25rem;
font-size: 0.875rem;
line-height: 1rem;
cursor: pointer;
}
.bgd4 {
    background-color: #F5F7F8;
}

.card-block-small {
    h1 {
        text-align: left;
    }
}



.example-list {
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .w100 {
      width: 100%;
  }
  .add-item-course {
      .btn {
        padding: 5px 19px;
      }
      .btn-outline-danger {
          margin-left: 3px;
      }
  }
//   .action-del {
//       color: red;
//   }

.cross {
    margin-top: 10px;
    margin-left: -15px !important;
}

.input-group-prepend {
    .add {
        border: 1px solid #4680ff;
        .action {
            color: #4680ff;
        }
    }
    .add:hover {
        background-color: #4680ff;
        .action {
            color: white;
        }
        cursor: pointer;
    }
    .reset {
        border: 1px solid #28a745;
        .action {
            color: #28a745;
        }
    }
    .reset:hover {
        background-color: #28a745;
        .action {
            color: white;
        }
        cursor: pointer;
    }
    .cancel {
        border: 1px solid #dc3545;
        .action {
            color: #dc3545;
        }
        border-radius: 0px 3px 3px 0px;
    }
    .cancel:hover {
        background-color: #dc3545;
        .action {
            color: white;
        }
        border-radius: 0px 3px 3px 0px;
        cursor: pointer;
    }
    .input-group-text {
        background-color: white;
    }
}
  
