<div class="row">
  <div class="col-md-12 col-xl-12">
    <div class="card widget-card-1">
      <div class="card-block-small">

        <ngx-loading [showIf]="loading" style="width: 100%;">

        <div class="row">
          <div class="col-sm-8">
            <h1>Item của course <span *ngIf="(itemCourse$ | async) as detailItemCourse">{{detailItemCourse.name}}</span></h1>
          </div>
          <div class="col-sm-4">
            <table class="w100 add-item-course" >
              <tr>
                <td *ngIf="createItemCourse" >
                  <input type="text" [(ngModel)]="courseName" [formControl]="stateCourseName" class="form-control" placeholder="Enter course name">
                  <div *ngIf="detectName" style="color: red;">
                    {{smgName}}
                  </div>
                </td>
                <td>
                  <button *ngIf="!createItemCourse" type="button" class="btn btn-outline-primary" (click)="createItem()">
                    <fa-icon class="action" [icon]="['fas', 'plus']"></fa-icon>
                  </button>

                  <!-- <button *ngIf="createItemCourse" type="button" class="btn btn-outline-success" (click)="saveItem()">
                    <fa-icon class="action" [icon]="['fas', 'check']"></fa-icon>
                  </button>
                  <button *ngIf="createItemCourse" type="button" class="btn btn-outline-danger" (click)="cancelData()">
                    <fa-icon class="action" [icon]="['fas', 'times']"></fa-icon>
                  </button> -->
                </td>
              </tr>
            </table>
          </div>
        </div>
      
          <table class="tg" style="width: 100%;">
            <thead>
              <tr>
                <th class="tg-0pky">ID</th>
                <th class="tg-0pky">Tên</th>
                <th class="tg-0pky">Banner</th>
                <th class="tg-0pky">Group</th>
                <th class="tg-0pky">Action</th>
              </tr>
            </thead>
  
            <tbody *ngIf="(itemCourse$ | async) as detailItemCourse; else noDetailCourse">

                <ng-container *ngFor="let item of detailItemCourse.items; let inx = index">
                  <tr [ngClass]="inx%2 !== 0 ? 'bgd4' : ''">
                    <td class="tg-0lax">{{item.id}}</td>
                    <td class="tg-0lax" (dblclick)="editItemCourse(inx, item)">
                      <div *ngIf="inx !== inxItemCourse">
                        {{item.name}}
                      </div>
                      <div *ngIf="inx === inxItemCourse" class="w100">

                        <form [formGroup]="courseItemForm" >
                          <input type="email" class="form-control" [(ngModel)]="item.name"
                          formControlName="editCourseItem" placeholder="Enter item course name">
                        </form>

                          <div *ngIf="ckError" class="error">
                              {{error}}
                          </div>
                          <div class="action-edit">
                            <fa-icon class="action save" [icon]="['fas', 'check']" (click)="saveEdit(item)"></fa-icon>
                            <fa-icon class="action reset" [icon]="['far', 'window-close']" (click)="resetItemCourse()"></fa-icon>
                          </div>
                      </div>
                    </td>
                    <td class="tg-0lax">{{item.banner}}</td>
                    <td class="tg-0lax" >
                        <div *ngFor="let group of item.group_workouts; let inxGroup = index">
                          <div class="card-content">
                            <div class="title-group" role="button" aria-expanded="false" aria-controls="collapseExample">
                              <div class="row">
                                <div class="col-sm-9">
                                  <span (click)="getDetailGroupWorkout(group.id)">
                                    <span><fa-icon class="action" [icon]="['fas', 'angle-down']"></fa-icon></span>
                                    {{group.name}}
                                  </span>
                                </div>
                                <div class="col-sm-3 close">
                                  <fa-icon class="action action-del" [icon]="['fas', 'times']" (click)="delItemGroup(item, group.group_item_id)" ></fa-icon>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <button style="margin-top: 10px;" type="button" class="btn btn-outline-primary" (click)="createGroup(item)">
                          <fa-icon class="action" [icon]="['fas', 'plus']"></fa-icon> Tạo group
                        </button>

                    </td>
                    <td class="tg-0lax action-all">
                      <fa-icon class="action action-del" [icon]="['fas', 'times']" (click)="delAllGroup(item)" ></fa-icon>
                    </td>
                  </tr>
                </ng-container>

              
            </tbody>
            <ng-template #noDetailCourse>
              <tbody>
                <tr>
                  <td colspan="5">không có dữ liệu</td>
                </tr>
              </tbody>
            </ng-template>
          </table>

        </ngx-loading>
      </div>
    </div>
  </div>
</div>