<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-body auth-body">
          <form class="md-float-material">
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left txt-primary">Sign In</h3>

                </div>
              </div>
              <hr/>
              <alert id="alert-1"></alert>
              
              <ngx-loading [showIf]="loading" >

                <div class="input-group">
                  <input type="email" class="form-control"
                        [(ngModel)]="username"
                        [ngModelOptions]="{standalone: true}"
                        placeholder="Your Email Address">
                  <span class="md-line"></span>
                </div>
                <div class="input-group">
                  <input type="password"
                        [(ngModel)]="password"
                        [ngModelOptions]="{standalone: true}"
                        class="form-control" 
                        placeholder="Password">
                  <span class="md-line"></span>
                </div>
                <div class="row m-t-25 text-left">
                  <div class="col-sm-7 col-xs-12">
                    <div class="checkbox-fade fade-in-primary">
                      <label>
                        <input type="checkbox" value="">
                        <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                        <span class="text-inverse">Remember me</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row m-t-30">
                  <div class="col-md-12">
                    <button type="button" (click)="login()" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Sign in</button>
                  </div>
                </div>

              </ngx-loading>

              <hr/>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- <app-toaster-container></app-toaster-container> -->
</section>
