<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-block-small">

      <ngx-loading [showIf]="loading" style="width: 100%;">
        <div class="row">
          <div class="col-sm-12">
            Tạo Group
          </div>

          <!-- <form [formGroup]="excerciseForm" class="w100"> -->
            <div class="col-sm-12" >
              <table class="tg w100">
                <tr>
                  <th class="tg-0pky title">
                    Name <span style="color: red;">*</span>
                  </th>
                  <td class="tg-0lax">
                    <div class="w100">
                      <input type="text" class="input-item w100" [(ngModel)]="itemGroup.name"
                        placeholder="name" aria-label="name" [formControl]="stateName"
                      />
                    </div>
                    <div class="w100 error" *ngIf="itemGroup.validate.detectSmgName" style="color: red;" >
                      {{itemGroup.validate.smgName}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="tg-0pky title">
                    Banner <span style="color: red;">*</span>
                  </th>
                  <td class="tg-0lax">
                    <input type="file" (change)="onSelectFile($event)" multiple />
                    <div class="w100 error" *ngIf="itemGroup.validate.detectSmgBanner" style="color: red;" >
                      {{itemGroup.validate.smgBanner}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="tg-0pky title">
                    Thumb <span style="color: red;">*</span>
                  </th>
                  <td class="tg-0lax">
                    <input type="file" (change)="onSelectFileThumb($event)" multiple />
                    <div class="w100 error" *ngIf="itemGroup.validate.detectSmgThumb" style="color: red;" >
                      {{itemGroup.validate.smgThumb}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="tg-0pky title">
                    Description <span style="color: red;">*</span>
                  </th>
                  <td class="tg-0lax">
                    <div class="w100">
                      <textarea [(ngModel)]="itemGroup.description" class="input-item w100"
                        aria-label="With textarea" [formControl]="stateDis" ></textarea>
                    </div>
                    <div class="w100 error" *ngIf="itemGroup.validate.detectSmgDescription" style="color: red;" >
                      {{itemGroup.validate.smgDescription}}
                    </div>
                  </td>
                </tr>
              </table>

              <div class="col-sm-12" style="margin-top: 15px;">
                <button type="button" (click)="backToHomeGroup()" class="btn btn-outline-secondary">
                  <fa-icon class="action" [icon]="['far', 'window-close']" ></fa-icon> Hủy
                </button>

                <button type="button" class="btn btn-outline-primary" style="margin-left: 20px;" (click)="createGroup()">
                  <fa-icon class="action" [icon]="['fas', 'check']" ></fa-icon> Tạo
                </button>
              </div>
            </div>
          <!-- </form> -->
        </div>
      </ngx-loading>

      </div>
    </div>
  </div>
</div>
