<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-block-small">

        <ngx-loading [showIf]="loading" style="width: 100%;">
        
        <div class="row" >
          <div class="col-sm-8">
            Thông tin exercise:
            <span *ngIf="(itemGroup$ | async) as itemGroup">{{itemGroup.name}}</span>
          </div>
          <div class="col-sm-4 action" *ngIf="(itemGroup$ | async) as itemGroup" style="text-align: end;">
            <button type="button" class="btn btn-outline-primary" (click)="editItemGroup(itemGroup.id)">
              <fa-icon class="action" [icon]="['fas', 'edit']"></fa-icon> Chỉnh sửa
            </button>
          </div>
          
        
          <div class="col-sm-12" *ngIf="(itemGroup$ | async) as itemGroup; else itemGroupElse">
            <table class="tg w100">
              <tr>
                <th class="tg-0pky title w120px">ID</th>
                <td class="tg-0lax">
                  <div >
                    {{itemGroup.id}}
                  </div>
                </td>
              </tr>
              <tr>
                <th class="tg-0pky title w120px">Name</th>
                <td class="tg-0lax">
                  <div class="w100">

                  </div>
                  {{itemGroup.name}}
                </td>
              </tr>
              <tr>
                <th class="tg-0pky title w120px">Banner</th>
                <td class="tg-0lax">
                  <div class="w100">
                    {{itemGroup.banner}}
                  </div>
            </table>
          </div>

                  
          <ng-template #itemGroupElse>

          </ng-template>
        </div>

        </ngx-loading>
          
      </div>
    </div>
  </div>
</div>
