<div class="dialog-admin" style="width: 600px;">
  <h3 mat-dialog-title>Thêm Group</h3>
  <div>
  </div>
      <mat-dialog-content class="mat-typography">
        <ngx-loading [showIf]="loadingItem">



          <mat-form-field class="example-full-width">
            <input matInput placeholder="search Group" [(ngModel)]="searchKey" (keyup)="searchItem($event)" [formControl]="searchGroup">
          </mat-form-field>

          <div>
            <table class="tg" style="width: 100%;">
              <thead>
                <tr>
                  <th class="tg-0pky">ID</th>
                  <th class="tg-0pky">Tên</th>
                  <th class="tg-0pky">Banner</th>
                  <th class="tg-0pky">Mô Tả</th>
                  <th class="tg-0pky">Action</th>
                </tr>
              </thead>

              <tbody *ngIf="(groupItem$ | async) as groupItem; else nogroupItem" style="height: 200px;">
                <ng-container *ngFor="let item of groupItem.groups; let inx = index">
                  <tr>
                    <td class="tg-0lax">{{item.group_id}}</td>
                    <td class="tg-0lax">{{item.name}}</td>
                    <td class="tg-0lax">{{item.banner}}</td>
                    <td class="tg-0lax">{{item.description}}</td>
                    <td class="tg-0lax" style="width: 200px !important;">
                        <div class="input-group mb-2">
                          <input type="number" class="form-control txt-add" [formControl]="stateCtrl">
                          <div class="input-group-prepend">
                            <div class="input-group-text add" (click)="actAddNewGroup(item)"><fa-icon class="action" [icon]="['fas', 'plus']" ></fa-icon></div>
                            <div class="input-group-text reset" (click)="clean()"><fa-icon class="action" [icon]="['fas', 'sync']" ></fa-icon></div>
                          </div>
                        </div>

                        <div *ngIf="detectOrder" >
                            {{smgOrder}}
                        </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>

              <ng-template #nogroupItem>
                <tbody>
                  <tr>
                    <td colspan="5">không có dữ liệu</td>
                  </tr>
                </tbody>
              </ng-template>
            </table>
            <div *ngIf="(groupItem$ | async) as groupItem" style="margin-top: 10px;">
              <ngb-pagination (pageChange)="onPageChangeDis($event)" [maxSize]="2" [pageSize] = "per_page" [collectionSize]="groupItem.pagination.total" [(page)]="page"></ngb-pagination>
            </div>
          </div>
          
        </ngx-loading>

      </mat-dialog-content>
      <mat-dialog-actions align="end">
          <div class="action-admin w100">
            <div class="row">
              <div class="col-sm-12">
                <button type="button" mat-dialog-close class="btn btn-outline-danger">
                  <fa-icon class="action" [icon]="['fas', 'times']"></fa-icon>
                </button>
              </div>
            </div>
          </div>
      </mat-dialog-actions>
</div>