

.dialog-admin {
    .body-dialog-admin {
      padding-left: 0 !important;
      padding-right: 0 !important;
      .ui-inputtext {
        width: 100%;
      }
    }
    .row-control {
      padding: 10px;
    }
    .mat-dialog-title {
      border-bottom: 1px solid #edf1f7;
    }
    .mat-dialog-content {
      padding: 0 40px !important;
    }

    .mat-dialog-actions {
      border-top: 1px solid #d4d4d4;
      margin-top: 10px;
      .btn {
        padding: 5px 15px;
        // color: #ffffff;
        margin-left: 15px;
      }
    }
  
    .ui-tree {
      width: 100%;
    }
  
    .db-control-label {
      word-break: break-all;
    }
    .ui-button.ui-button-rounded {
      border-radius: 5px;
      width: inherit;
    }
  
    .ui-button.ui-button-text-only .ui-button-text {
      padding: 0.429em 0;
    }
  }

  .tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 5px;
}

.tg td {
    border: 1px solid #f0f0f0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    word-break: normal;
    text-align: left !important;
    white-space: unset !important
}
.tg th {
    border: 1px solid #f0f0f0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    word-break: normal;
    font-weight: bold !important;
}
.tg .tg-0pky {
    text-align: center;
    vertical-align: middle;
    margin-left: 10px;
    padding: .375em .75em;
}
.tg .action-all {
    text-align: center !important;
}
.tg .tg-0lax {
    text-align: left ;
    vertical-align: middle;
    margin-left: 10px;
    padding: .375em .75em;
    .action {
        cursor: pointer;
        font-size: 15px;
    }
    .action-edit {
        float: left;
        width: 100%;
        text-align: center;
        .action {
            padding: 5px 7px;
        }
        .reset {
            color: red;
        }
        .save {
            color: blue;
        }
    }
    .error {
        color: red;
    }
    .card-content {
        border: 1px solid #d4d4d4;
        border-radius: 3px;
        background-color: #fafafa;
        margin-top: 5px;
        .card {
            margin-bottom: unset !important;
        }
        .title-group {
            width: 100%;
            padding: 7px 10px;
        }
        .ngx-collapse {
            border-top: 1px solid #d4d4d4;
        }
        .close {
            text-align: right;
        }
    }
}

.tg tr:hover {
    td {
        background-color: #edf1f7;
    }
}

.acctiveClass {
color: #ffffff;
background-color: #3366ff;
padding: 0.75rem 1.25rem;
font-size: 0.875rem;
line-height: 1rem;
cursor: pointer;
}

.unactiveClass {
color: #3366ff;
background-color: #ffffff;
padding: 0.75rem 1.25rem;
font-size: 0.875rem;
line-height: 1rem;
cursor: pointer;
}
.bgd4 {
    background-color: #F5F7F8;
}

  .w100 {
    width: 100%;
  }

  .mat-option {
    height: 30px;
    border-bottom: 1px solid #d4d4d4;
    font-size: 14px;
  }

  .point {
    cursor: pointer;
  }
  
  .input-group-prepend {
    .add {
        border: 1px solid #4680ff;
        .action {
            color: #4680ff;
        }
    }
    .add:hover {
        background-color: #4680ff;
        .action {
            color: white;
        }
        cursor: pointer;
    }
    .reset {
        border: 1px solid #28a745;
        .action {
            color: #28a745;
        }
    }
    .reset:hover {
        background-color: #28a745;
        .action {
            color: white;
        }
        cursor: pointer;
    }
    .cancel {
        border: 1px solid #dc3545;
        .action {
            color: #dc3545;
        }
        border-radius: 0px 3px 3px 0px;
    }
    .cancel:hover {
        background-color: #dc3545;
        .action {
            color: white;
        }
        border-radius: 0px 3px 3px 0px;
        cursor: pointer;
    }
    .input-group-text {
        background-color: white;
    }
}