<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-block-small">

        <ngx-loading [showIf]="loading" style="width: 100%;">

          <div class="row">
            <div class="col-sm-8">
              Quản lý Group
            </div>
            <div class="col-sm-4 title-action">
              <button type="button" class="btn btn-outline-primary" (click)="addNewExcercise()">
                <fa-icon class="action" [icon]="['fas', 'plus']"></fa-icon>
              </button>
            </div>
          </div>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="search excercise" [(ngModel)]="searchKey" (keyup)="searchItem($event)" [formControl]="stateCtrl">
          </mat-form-field>

          <div class="row">
            <div class="col-sm-12">
              <table class="tg w100">
                  <tr>
                    <th class="tg-0pky">ID</th>
                    <th class="tg-0pky">Tên</th>
                    <th class="tg-0pky">Banner</th>
                    <th class="tg-0pky">Mô tả</th>
                    <th class="tg-0pky">Action</th>
                  </tr>

                  <tbody *ngIf="(lstGroup$ | async) as lstGroup; else lstGroupElse">
                    <ng-container *ngFor="let item of lstGroup.groups; let inx = index">
                      <tr>
                        <td class="tg-0lax">{{item.group_id}}</td>
                        <td class="tg-0lax">{{item.name}}</td>
                        <td class="tg-0lax">{{item.banner}}</td>
                        <td class="tg-0lax">{{item.description}}</td>
                        <td class="tg-0lax" style="width: 100px;">
                          <div class="row">
                            <div class="col-sm-4">
                              <fa-icon class="action" [icon]="['fas', 'trash-alt']" (click)="delExcercise(item.group_id)"></fa-icon>
                            </div>
                            <div class="col-sm-4">
                              <fa-icon class="action" [icon]="['far', 'eye']" (click)="showDetail(item.group_id)"></fa-icon>
                            </div>
                            <div class="col-sm-4">
                              <fa-icon class="action" [icon]="['fas', 'edit']" (click)="editGroup(item.group_id)"></fa-icon>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>

                  
                  <ng-template #lstGroupElse>
                      không có data
                  </ng-template>
              </table>
                
              <div  *ngIf="(lstGroup$ | async) as lstGroup" style="margin-top: 10px;">
                <ngb-pagination (pageChange)="onPageChange($event)" [pageSize] = "per_page" [maxSize]="2"
                [collectionSize]="lstGroup.pagination.total" [(page)]="page"></ngb-pagination>
              </div>
            </div>
          </div>
        </ngx-loading>
          
      </div>
    </div>
  </div>
</div>
