.title {
    width: 120px;
}

.w100 {
    width: 100%;
}
.w60 {
    width: 60px;
}
.input-item {
    border: 1px solid #d4d4d4;
    border-radius: 3px;
}

.frame {
    padding: 8px 25px;
    border: 1px solid #d9d9d9;
    position: relative;
    background-color: #fafafa;
    border-radius: 3px;
    margin-right: 10px;
    .close-tag {
        position: absolute;
        right: 2px;
        cursor: pointer;
        color: #595959;
        top: 3px;
        font-size: 17px;
    }
}

.action {
    color: #595959;
    font-size: 13px;
}
.add-new-TTS {
    cursor: pointer;
}
.input-group {
    margin-top: 10px;
            cursor: pointer;
    .txt-add {
        border-radius: 3px 0px 0px 3px;
    }
    .input-group-prepend {
        .add {
            border: 1px solid #4680ff;
            .action {
                color: #4680ff;
            }
        }
        .add:hover {
            background-color: #4680ff;
            .action {
                color: white;
            }
            cursor: pointer;
        }
        .reset {
            border: 1px solid #28a745;
            .action {
                color: #28a745;
            }
        }
        .reset:hover {
            background-color: #28a745;
            .action {
                color: white;
            }
            cursor: pointer;
        }
        .cancel {
            border: 1px solid #dc3545;
            .action {
                color: #dc3545;
            }
            border-radius: 0px 3px 3px 0px;
        }
        .cancel:hover {
            background-color: #dc3545;
            .action {
                color: white;
            }
            border-radius: 0px 3px 3px 0px;
            cursor: pointer;
        }
        .input-group-text {
            background-color: white;
        }
    }
}
.cross {
    display: inline-block;
}
.rounded-inputs20 {
    padding: 5px 0px 5px 5px;
}