<div class="button-page">
  <div class="row">
    <!-- bootstrap modal start -->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-block-small">

        <ngx-loading [showIf]="loading" style="width: 100%;">
          <div class="row">
            <div class="col-sm-12">
              Chỉnh sửa exercise
            </div>

            <!-- <form [formGroup]="excerciseForm" class="w100"> -->
              <div class="col-sm-12" *ngIf="(itemExcercise$ | async) as itemExcercise" >
                <table class="tg w100">
                  <tr>
                    <th class="tg-0pky title">
                      Name <span style="color: red;">*</span>
                    </th>
                    <td class="tg-0lax">
                      <div class="w100">
                        <input type="text" class="input-item w100" [(ngModel)]="itemExcercise.name"
                          placeholder="name" aria-label="Username" [formControl]="stateName"/>

                          <div *ngIf="validData.detect_name" style="color: red;">
                            {{validData.smg_name}}
                          </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="tg-0pky title">
                      Image <span style="color: red;">*</span>
                    </th>
                    <td class="tg-0lax">
                      {{itemExcercise.image}}
                      <br />
                      <input type="file" (change)="onSelectFile($event)" multiple />

                      <div *ngIf="validData.detect_image" style="color: red;">
                        {{validData.smg_image}}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="tg-0pky title">
                      Description <span style="color: red;">*</span>
                    </th>
                    <td class="tg-0lax">
                      <div class="w100">
                        <textarea [(ngModel)]="itemExcercise.description" class="input-item w100"
                          aria-label="With textarea" [formControl]="stateDis" ></textarea>

                          <div *ngIf="validData.detect_description" style="color: red;">
                            {{validData.smg_description}}
                          </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="tg-0pky title">
                      Video <span style="color: red;">*</span>
                    </th>
                    <td class="tg-0lax">
                      <div class="w100">
                        <input type="text" [(ngModel)]="itemExcercise.video" class="input-item w100"
                          placeholder="video" aria-label="video" [formControl]="stateVideo" />

                          <div *ngIf="validData.detect_video" style="color: red;">
                            {{validData.smg_video}}
                          </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="tg-0pky title">Type</th>
                    <td class="tg-0lax">
                      <div class="w100">
                        <select name="city" class="rounded-inputs20 select-select col-md-3"
                            [(ngModel)]="itemExcercise.type" (change)="onChangeType($event.target.value)">
                          <option *ngFor="let item of lstType" >{{item}}</option>
                        </select>

                        <div *ngIf="validData.detect_type" style="color: red;">
                          {{validData.smg_type}}
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="tg-0pky title">Reps</th>
                    <td class="tg-0lax">
                      <div class="w100">
                        <input type="number" [maxLength]="2" [(ngModel)]="itemExcercise.reps" class="input-item w100"
                          placeholder="reps" aria-label="reps" [formControl]="stateReps" />

                          <div *ngIf="validData.detect_reps" style="color: red;">
                            {{validData.smg_reps}}
                          </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="tg-0pky title">Time per rep</th>
                    <td class="tg-0lax">
                      <div class="w100">
                        <input type="text" [maxLength]="2" [(ngModel)]="itemExcercise.time_per_rep" placeholder="time_per_rep"
                          class="input-item w100" aria-label="time_per_rep" [formControl]="stateTimePerRep" />

                          <div *ngIf="validData.detect_time_per_rep" style="color: red;">
                            {{validData.smg_time_per_rep}}
                          </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="tg-0pky title">TTS guide</th>
                    <td class="tg-0lax">
                      <ng-container class="cross" *ngFor="let item of lstTTGguide; let inx = index" >
                        <div class="chip" matTooltip="{{item.name}}" *ngIf="item">
                          {{item.thumb}}
                          <span class="closebtn" (click)="delTTGguide(item.id)">&times;</span>
                        </div>
                      </ng-container>
                      
                      <div class="chip" *ngIf="newTTS" (click)="addNewTTS()">
                        <fa-icon class="action" [icon]="['fas', 'plus']" ></fa-icon> New
                      </div>
                      
                      <div *ngIf="!newTTS" class="col-auto cross">
                        <div class="input-group mb-2" style="width: 200px;">
                          <input type="text" class="form-control txt-add" [formControl]="stateTTGguide" id="inlineFormInputGroup">
                          <div class="input-group-prepend">
                            <div class="input-group-text add" (click)="actAddNewTTS()"><fa-icon class="action" [icon]="['fas', 'plus']" ></fa-icon></div>
                            <div class="input-group-text reset" (click)="clean()"><fa-icon class="action" [icon]="['fas', 'sync']" ></fa-icon></div>
                            <div class="input-group-text cancel" (click)="cancelAdd()"><fa-icon class="action" [icon]="['fas', 'times']" ></fa-icon></div>
                          </div>
                        </div>
                      </div>

                      <div *ngIf="validData.detect_tts_guide" style="color: red;">
                        {{validData.smg_tts_guide}}
                      </div>
                        
                    </td>
                  </tr>
                  <tr>
                    <th class="tg-0pky title">
                      Lượng calo đốt cháy <span style="color: red;">*</span>
                    </th>
                    <td class="tg-0lax">
                      <div class="w100">
                        <input type="number" [(ngModel)]="itemExcercise.met" class="input-item w100"
                          placeholder="met" aria-label="met" [formControl]="stateMet" />

                          <div *ngIf="validData.detect_met" style="color: red;">
                            {{validData.smg_met}}
                          </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <th class="tg-0pky title">Default duration</th>
                    <td class="tg-0lax">
                      <div class="w100">
                        <input type="number" [maxLength]="2" [(ngModel)]="itemExcercise.default_duration" class="input-item w100"
                          placeholder="default_duration" aria-label="default_duration" [formControl]="stateDefaultDuration" />

                          <div *ngIf="validData.detect_default_duration" style="color: red;">
                            {{validData.smg_default_duration}}
                          </div>
                      </div>
                    </td>
                  </tr>
                </table>

                <div class="col-sm-12" style="margin-top: 15px;">
                  <button type="button" class="btn btn-outline-secondary" mat-dialog-close>
                    <fa-icon class="action" [icon]="['far', 'window-close']" ></fa-icon> Hủy
                  </button>

                  <button type="button" class="btn btn-outline-primary" style="margin-left: 20px;" (click)="updExcerciseDetail()">
                    <fa-icon class="action" [icon]="['fas', 'check']" ></fa-icon> Cập Nhật
                  </button>
                </div>
              </div>
            <!-- </form> -->
          </div>
        </ngx-loading>
          
        </div>
      </div>
    </div>
    <!-- Bootstrap modal end -->
  </div>
</div>
