<div class="button-page">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-block-small">
          
          <ngx-loading [showIf]="loading" style="width: 100%;">

            <div class="row">
              <div class="col-sm-8">
                Quản lý exercise
              </div>
              <div class="col-sm-4 title-action">
                <button type="button" class="btn btn-outline-primary" (click)="addNewExcercise()">
                  <fa-icon class="action" [icon]="['fas', 'plus']"></fa-icon>
                </button>
              </div>
            </div>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="search excercise" [(ngModel)]="searchKey" (keyup)="searchItem($event)" [formControl]="stateCtrl">
            </mat-form-field>

            <div class="row">
              <div class="col-sm-12">
                
                <table class="tg w100">
                    <tr>
                      <th class="tg-0pky w15p">ID</th>

                      <th class="tg-0pky w50p">Infomation</th>

                      <th class="tg-0pky w20p">statistics</th>

                      <th class="tg-0pky w30p">TTS guide</th>
                      <th class="tg-0pky w70p">Action</th>
                    </tr>

                    <tbody *ngIf="(lstExcercise$ | async) as lstExcercise1; else lstExcerciseElse">
                      <ng-container *ngFor="let item of lstExcercise1.exercises; let inx = index">
                        <tr (dblclick)="doubEditExcercise(inx)">
                          <td class="tg-0lax w15p">{{item.id}}</td>

                          <td class="tg-0lax w50p">
                            
                            <div class="row content-info">
                              <div class="col-sm-3">
                                Name
                              </div>
                              <div class="col-sm-9">
                                <div *ngIf="editId !== inx" class="w100">
                                  {{item.name}}
                                </div>
                                <div *ngIf="editId === inx" class="w100">
                                  <input type="text" class="input-item w100" [(ngModel)]="item.name"
                                    placeholder="name" aria-label="Username" [formControl]="stateName"/>

                                    <div *ngIf="validData.detect_name" style="color: red;">
                                      {{validData.smg_name}}
                                    </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                Description
                              </div>
                              <div class="col-sm-9">
                                <div *ngIf="editId !== inx" class="w100">
                                  {{item.description}}
                                </div>
                                <div *ngIf="editId === inx" class="w100">
                                  <textarea [(ngModel)]="item.description" rows="3" class="input-item w100" [formControl]="stateDis" 
                                    aria-label="With textarea"></textarea>

                                    <div *ngIf="validData.detect_description" style="color: red;">
                                      {{validData.smg_description}}
                                    </div>
                                </div>
                              </div>

                              <div class="col-sm-3">
                                Image
                              </div>
                              <div class="col-sm-9">
                                <div *ngIf="editId !== inx" class="w100">
                                  {{urls[inx]}}
                                </div>
                                <div *ngIf="editId === inx" class="w100">
                                  <input type="file" (change)="onSelectFile($event)" multiple />
                                </div>
                              </div>

                              <div class="col-sm-3">
                                Video
                              </div>
                              <div class="col-sm-9">
                                <div *ngIf="editId !== inx" class="w100">
                                  <a href="item.video" target="blank">{{item.video}}</a>
                                </div>
                                <div *ngIf="editId === inx" class="w100">
                                  <input type="text" [(ngModel)]="item.video" class="input-item w100"
                                    placeholder="video" aria-label="video" [formControl]="stateVideo" />

                                    <div *ngIf="validData.detect_video" style="color: red;">
                                      {{validData.smg_video}}
                                    </div>
                                </div>
                              </div>

                              <div class="col-sm-3">
                                Thumbnails
                              </div>
                              <div class="col-sm-9">
                                <div *ngIf="editId !== inx" class="w100">
                                  {{urlsThumb[inx]}}
                                </div>
                                <div *ngIf="editId === inx" class="w100">
                                  <input type="file" (change)="onSelectFileThumb($event)" multiple />
                                </div>
                              </div>
                            </div>
                          </td>

                          <td class="tg-0lax w50p">
                            
                            <table class="tg w100">
                              <tr>
                                <th class="tg-0pky">Type</th>
                                <td class="tg-0lax">
                                  <div *ngIf="editId !== inx" class="w100">
                                    {{item.type}}
                                  </div>
                                  <div *ngIf="editId === inx" class="w100">
                                    <select name="city" class="rounded-inputs20 select-select" style="width: 100% !important;"
                                        [(ngModel)]="item.type" (change)="onChangeType($event.target.value)">
                                      <option *ngFor="let item of lstType" >{{item}}</option>
                                    </select>

                                    <!-- <div *ngIf="validData.detect_type" style="color: red;">
                                      {{validData.smg_type}}
                                    </div> -->
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <th class="tg-0pky">Reps</th>
                                <td class="tg-0lax">
                                  <div *ngIf="editId !== inx" class="w100">
                                    {{item.reps}}
                                  </div>
                                  <div *ngIf="editId === inx" class="w100">
                                    <input type="number" [maxLength]="2" [(ngModel)]="item.reps" class="input-item w100"
                                      placeholder="reps" aria-label="reps"  [formControl]="stateReps" />

                                      <div *ngIf="validData.detect_reps" style="color: red;">
                                        {{validData.smg_reps}}
                                      </div>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <th class="tg-0pky">T.P.rep</th>
                                <td class="tg-0lax">
                                  <div *ngIf="editId !== inx" class="w100">
                                    {{item.time_per_rep}}
                                  </div>
                                  <div *ngIf="editId === inx" class="w100">
                                    <input type="text" [maxLength]="2" [(ngModel)]="item.time_per_rep" placeholder="time_per_rep"
                                      class="input-item w100" aria-label="time_per_rep" [formControl]="stateTimePerRep" />

                                      <div *ngIf="validData.detect_time_per_rep" style="color: red;">
                                        {{validData.smg_time_per_rep}}
                                      </div>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <th class="tg-0pky">Met</th>
                                <td class="tg-0lax">
                                  <div *ngIf="editId !== inx" class="w100">
                                    {{item.met}}
                                  </div>
                                  <div *ngIf="editId === inx" class="w100">
                                    <input type="number" [(ngModel)]="item.met" class="input-item w100"
                                      placeholder="met" aria-label="met" [formControl]="stateMet" />

                                      <div *ngIf="validData.detect_met" style="color: red;">
                                        {{validData.smg_met}}
                                      </div>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <th class="tg-0pky">Duration</th>
                                <td class="tg-0lax">
                                  <div *ngIf="editId !== inx" class="w100">
                                    {{item.default_duration}}
                                  </div>
                                  <div *ngIf="editId === inx" class="w100">
                                    <input type="number" [maxLength]="2" [(ngModel)]="item.default_duration" class="input-item w100"
                                      placeholder="default_duration" aria-label="default_duration" [formControl]="stateDefaultDuration" />

                                      <div *ngIf="validData.detect_default_duration" style="color: red;">
                                        {{validData.smg_default_duration}}
                                      </div>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>

                          <td class="tg-0lax w30p">
                            <div *ngIf="editId !== inx" class="w100">
                              <ng-container class="cross" *ngFor="let item of lstTTGguide[inx]; let inxTTG = index" >
                                <div class="chip w100" matTooltip="{{item.name}}" style="font-size: 13px; line-height: unset; position: relative">
                                  <div class="right w100">{{item.thumb}}</div>
                                </div>
                              </ng-container>
                            </div>

                            <div *ngIf="editId === inx" class="w100">
                              <ng-container class="cross" *ngFor="let item of lstTTGguideBK; let inxTTG = index" >
                                <div class="chip w100" matTooltip="{{item.name}}" style="font-size: 13px; line-height: unset; position: relative">
                                  <div class="right w100">{{item.thumb}}</div>
                                  <div class="closebtn right" style="position: absolute; right: 5px;"
                                        (click)="delTTGguide(item.id, inxTTG)">&times;</div>
                                </div>
                              </ng-container>

                              <div *ngIf="validData.detect_tts_guide" style="color: red;">
                                {{validData.smg_tts_guide}}
                              </div>
                              <input type="text" class="form-control txt-add" [formControl]="stateTTGguide" id="inlineFormInputGroup">

                              <button type="button" class="btn btn-outline-primary w100" style="margin-bottom: unset;" (click)="actAddNewTTS()">
                                <fa-icon class="action" [icon]="['fas', 'plus']" ></fa-icon>
                              </button>
                              <button type="button" class="btn btn-outline-success w100" (click)="clean()">
                                <fa-icon class="action" [icon]="['fas', 'sync']" ></fa-icon>
                              </button>
                            </div>

                          </td>

                          <td class="tg-0lax w70p action" *ngIf="editId !== inx">
                                <button type="button"  class="btn btn-outline-danger w70p" (click)="delExcercise(item.id)">
                                  <fa-icon class="action" [icon]="['fas', 'trash-alt']"></fa-icon>
                                </button>
                                <button type="button" class="btn btn-outline-info w70p" (click)="showDetail(item.id)">
                                  <fa-icon class="action" [icon]="['far', 'eye']"></fa-icon>
                                </button>
                                <!-- <button type="button" class="btn btn-outline-primary w70p" (click)="editExcercise(item.id)">
                                  <fa-icon class="action" [icon]="['fas', 'edit']"></fa-icon>
                                </button> -->
                          </td>

                          <td class="tg-0lax w70p action" *ngIf="editId === inx">
                            <button type="button" class="btn btn-outline-secondary w70p" (click)="cancelEdit()">
                              <fa-icon class="action" [icon]="['far', 'window-close']" ></fa-icon>
                            </button>
          
                            <button type="button" class="btn btn-outline-primary w70p" (click)="actionEdit(item.id)">
                              <fa-icon class="action" [icon]="['fas', 'check']" ></fa-icon>
                            </button>
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>

                    
                    <ng-template #lstExcerciseElse>
                      <tr>
                        <td colspan="12">Không có dữ liệu</td>
                      </tr>
                    </ng-template>
                </table>
                
                <div  *ngIf="(lstExcercise$ | async) as lstExcercise1">
                  <ngb-pagination (pageChange)="onPageChange($event)" [pageSize] = "per_page" [maxSize]="2"
                    [collectionSize]="lstExcercise1.pagination.total" [(page)]="page"></ngb-pagination>
                </div>
              </div>
            </div>
          </ngx-loading>
          
        </div>
      </div>
    </div>
  </div>
</div>
