<div class="button-page">
  <div class="row">
    <!-- bootstrap modal start -->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-block-small">

        <ngx-loading [showIf]="loading" style="width: 100%;">
        
        <div class="row" >
          <div class="col-sm-8">
            Thông tin group:
            <span *ngIf="(itemExcercise$ | async) as itemExcercise">{{itemExcercise.name}}</span>
          </div>
          <div class="col-sm-4 action">
            <button type="button" class="btn btn-outline-primary" (click)="editItemExcercise()">
              <fa-icon class="action" [icon]="['fas', 'edit']"></fa-icon> Chỉnh sửa
            </button>
          </div>
          
        
          <div class="col-sm-12" *ngIf="(itemExcercise$ | async) as itemExcercise; else itemExcerciseElse">
            <table class="tg w100">
              <tr>
                <th class="tg-0pky title w120px">ID</th>
                <td class="tg-0lax">
                  <div >
                    {{itemExcercise.id}}
                  </div>
                </td>
              </tr>
              <tr>
                <th class="tg-0pky title w120px">Name</th>
                <td class="tg-0lax">
                  <div class="w100">

                  </div>
                  {{itemExcercise.name}}
                </td>
              </tr>
              <tr>
                <th class="tg-0pky title w120px">Description</th>
                <td class="tg-0lax">
                  <div class="w100">
                    {{itemExcercise.description}}
                  </div></td>
              </tr>
              <tr>
                <th class="tg-0pky title w120px">TTS guide</th>
                <td class="tg-0lax">
                  <div class="w100">
                    {{itemExcercise.tts_guide}}
                  </div></td>
              </tr>
              <tr>
                <th class="tg-0pky title w120px">Image</th>
                <td class="tg-0lax">
                  <div class="w100">
                    {{itemExcercise.image}}
                  </div></td>
              </tr>
              <tr>
                <th class="tg-0pky title w120px">Type</th>
                <td class="tg-0lax">
                  <div class="w100">
                    {{itemExcercise.type}}
                  </div></td>
              </tr>
              <tr>
                <th class="tg-0pky title w120px">Reps</th>
                <td class="tg-0lax">
                  <div class="w100">
                    {{itemExcercise.reps}}
                  </div></td>
              </tr>
              <tr>
                <th class="tg-0pky title w120px">Time per rep</th>
                <td class="tg-0lax">
                  <div class="w100">
                    {{itemExcercise.time_per_rep}}
                  </div></td>
              </tr>
              <tr>
                <th class="tg-0pky title">Video</th>
                <td class="tg-0lax">
                  <div class="w100">
                    {{itemExcercise.video}}
                  </div></td>
              </tr>
              <tr>
                <th class="tg-0pky title w120px">Default duration</th>
                <td class="tg-0lax">
                  <div class="w100">
                    {{itemExcercise.default_duration}}
                  </div></td>
              </tr>
            </table>
          </div>

                  
          <ng-template #itemExcerciseElse>

          </ng-template>
        </div>

      </ngx-loading>
          
        </div>
      </div>
    </div>
    <!-- Bootstrap modal end -->
  </div>
</div>
