<div class="dialog-admin">
  <h3 mat-dialog-title>title</h3>
  <div>
  </div>
      <mat-dialog-content class="mat-typography">
        <ngx-loading [showIf]="loadingItem">

            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
              <div *ngIf="(excerciseItem$ | async) as excerciseItem; else excerciseElse">
                <div class="example-box" *ngFor="let item of excerciseItem; let inx = index" cdkDrag>
                    <div class="row">
                        <div class="col-sm-11">
                            {{inx}}. {{item.name}}
                        </div>
                        <div class="col-sm-1">
                            <span class="material-icons point" (click)="delExcerciseOfGroup(item.exercise_group_id, inx)"> close </span>
                        </div>
                    </div>
                </div>
              </div>
              <ng-template #excerciseElse>
                  <div>
                      không có data
                  </div>
              </ng-template>

            </div>
        </ngx-loading>

      </mat-dialog-content>
      <mat-dialog-actions align="end">
          <div class="action-admin w100">

              <div class="row">

                <!-- automation load -->
                <div class="col-sm-3">
                  <form class="example-form" *ngIf="detectAdd">
                      <mat-form-field class="example-full-width">
                        <input #stateInput (keyup)="searchItem($event)"
                                [(ngModel)]="searchKey" matInput
                                placeholder="add excercise" [matAutocomplete]="auto"
                                [formControl]="stateCtrl">
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let state of filteredStates | async" (onSelectionChange)="stateInput.value !=undefined && onEnter($event, state)" [value]="state.name">
                            <span>{{ state.name }}</span> 
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </form>
                </div>

                <div class="col-sm-9">
                  <button type="button" class="btn btn-outline-success" (click)="addNewExcercise()">
                      <fa-icon class="action" [icon]="['fas', 'plus']"></fa-icon> thêm excercise
                  </button>
                  <button type="button" class="btn btn-outline-primary" (click)="saveChange()">
                    <fa-icon class="action" [icon]="['fas', 'check']"></fa-icon>
                  </button>
                  <button type="button" mat-dialog-close class="btn btn-outline-danger">
                    <fa-icon class="action" [icon]="['fas', 'times']"></fa-icon>
                  </button>
                </div>
              </div>

          </div>
      </mat-dialog-actions>
</div>