

.dialog-admin {
    .body-dialog-admin {
      padding-left: 0 !important;
      padding-right: 0 !important;
      .ui-inputtext {
        width: 100%;
      }
    }
    .row-control {
      padding: 10px;
    }
    .mat-dialog-title {
      border-bottom: 1px solid #edf1f7;
    }
    .mat-dialog-content {
      padding: 0 40px !important;
    }

    .mat-dialog-actions {
      border-top: 1px solid #d4d4d4;
      margin-top: 10px;
      .btn {
        padding: 5px 15px;
        // color: #ffffff;
        margin-left: 15px;
      }
    }
  
    .ui-tree {
      width: 100%;
    }
  
    .db-control-label {
      word-break: break-all;
    }
    .ui-button.ui-button-rounded {
      border-radius: 5px;
      width: inherit;
    }
  
    .ui-button.ui-button-text-only .ui-button-text {
      padding: 0.429em 0;
    }
  }


  .example-list {
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .example-box {
    padding: 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .example-list {
    .row {
      width: 100%;
      .close-info {
        cursor: pointer;
      }
    }
  }

  .w100 {
    width: 100%;
  }

  .mat-option {
    height: 30px;
    border-bottom: 1px solid #d4d4d4;
    font-size: 14px;
  }

  .point {
    cursor: pointer;
  }
  