<div class="row">
  <div class="col-md-12 col-xl-12">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <h1>Thông tin course</h1>

        <ngx-loading [showIf]="loading" style="width: 100%;">
        
          <table class="tg" style="width: 100%;">
            <tbody *ngIf="(detailCourse$ | async) as detailCourse; else noDetailCourse">
              <tr>
                <th class="tg-0pky bgd4 w120px">ID</th>
                <td>{{detailCourse.id}}</td>
              </tr>
              <tr>
                <th class="tg-0pky bgd4 w120px">Tên</th>
                <td>{{detailCourse.name}}</td>
              </tr>
              <tr>
                <th class="tg-0pky bgd4 w120px">Mô tả</th>
                <td>{{detailCourse.description}}</td>
              </tr>
              <tr>
                <th class="tg-0pky bgd4 w120px">Kiểu layout</th>
                <td>{{detailCourse.layout_type}}</td>
              </tr>
              <tr>
                <th class="tg-0pky bgd4 w120px">Zone</th>
                <td>{{detailCourse.zone_id}}</td>
              </tr>
              <tr>
                <th class="tg-0pky bgd4 w120px">Banner</th>
                <td>{{detailCourse.banner}}</td>
              </tr>
              
            </tbody>
            <ng-template #noDetailCourse>
              <tbody>
                <tr>
                  <td colspan="2">không có dữ liệu</td>
                </tr>
              </tbody>
            </ng-template>
          </table>

        </ngx-loading>


      </div>
    </div>
  </div>
</div>
