<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-block-small">

      <ngx-loading [showIf]="loading" style="width: 100%;">
      
        <div class="row" >
          <div class="col-sm-12">
            Thông tin Group:
            <span *ngIf="(itemGroup$ | async) as itemGroup">{{itemGroup.name}}</span>
          </div>
          
        
          <div class="col-sm-12" *ngIf="(itemGroup$ | async) as itemGroup; else itemGroupElse">
            <table class="tg w100">
              <tr>
                <th class="tg-0pky title w120px">ID</th>
                <td class="tg-0lax">
                    {{itemGroup.id}}
                </td>
              </tr>
              <tr>
                <th class="tg-0pky title w120px">Tên group</th>
                <td class="tg-0lax">
                  <div class="w100">
                    <input type="text" class="input-item w100" [(ngModel)]="itemGroup.name"
                      placeholder="name" aria-label="Username" [formControl]="stateName"/>

                      <div *ngIf="validDataGroup.detectSmgName" style="color: red;">
                        {{validDataGroup.smgName}}
                      </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="tg-0pky title w120px">Banner</th>
                <td class="tg-0lax">
                  <div class="w100">
                    {{itemGroup.banner}}
                  </div>
                  <br />

                  <input type="file" (change)="onSelectFile($event)" multiple />
                </td>
              </tr>
              <tr>
                <th class="tg-0pky title">
                  Thumb
                </th>
                <td class="tg-0lax">
                  <input type="file" (change)="onSelectFileThumb($event)" multiple />
                </td>
              </tr>
              <tr>
                <th class="tg-0pky title w120px">Mô tả</th>
                <td class="tg-0lax">
                  <div class="w100">
                    <input type="text" class="input-item w100" [(ngModel)]="itemGroup.description"
                      placeholder="name" aria-label="Username" [formControl]="stateDis"/>

                      <div *ngIf="validDataGroup.detectSmgDescription" style="color: red;">
                        {{validDataGroup.smgDescription}}
                      </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
  
                  
          <ng-template #itemGroupElse>
            không có data
          </ng-template>

          <div class="col-sm-12" style="margin-top: 15px;">
            <button type="button" class="btn btn-outline-secondary" (click)="cancel()" >
              <fa-icon class="action" [icon]="['far', 'window-close']" ></fa-icon> Hủy
            </button>

            <button type="button" class="btn btn-outline-primary" style="margin-left: 20px;" (click)="updGroupDetail()">
              <fa-icon class="action" [icon]="['fas', 'check']" ></fa-icon> Cập Nhật
            </button>
          </div>
        </div>
  
      </ngx-loading>
          
      </div>
    </div>
  </div>
</div>
