<div class="row">
  <div class="col-md-12 col-xl-12">
    <div class="card">
      <div class="card-block-small">
        <h1>Course</h1>
        
        <ngx-loading [showIf]="loading" style="width: 100%;">

          <div class="row">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="search course" (keyup)="searchItem($event)" [formControl]="stateNameCourse">
              </mat-form-field>
            </div>
            <div class="col-sm-6 text-right" >
              <button type="button" class="btn btn-outline-primary" (click)="createItem()" > <fa-icon class="action" [icon]="['fas', 'plus']"></fa-icon></button>
            </div>
          </div>

          <tabset #tabset>
            <tab tab1 heading="course" id="first" #first (select)="tabSelect(0)">
              <table class="tg" style="width: 100%;">
                <thead>
                  <tr>
                    <th class="tg-0pky">ID</th>
                    <th class="tg-0pky">Tên</th>
                    <th class="tg-0pky">Banner</th>
                    <th class="tg-0pky">Action</th>
                  </tr>
                </thead>
      
                <tbody *ngIf="(courseItem$ | async) as courseItem; else noCourseItem">
                  <ng-container *ngFor="let item of courseItem.courses; let inx = index">
                    <tr [ngClass]="inx%2 !== 0 ? 'bgd4' : ''">
                      <td class="tg-0lax">{{item.id}}</td>
                      <td class="tg-0lax" >
                        <div *ngIf="inx !== inxCourse">
                          {{item.name}}
                        </div>
                        <div *ngIf="!ckChangeName && inx === inxCourse">
                            <input type="email" class="form-control" [(ngModel)]="item.name" id="exampleInputEmail1" placeholder="Enter course name">
                            <div *ngIf="ckError" class="error">
                                {{error}}
                            </div>
                            <div class="action-edit">
                              <fa-icon class="action save" [icon]="['fas', 'check']" (click)="saveEdit(item)"></fa-icon>
                              <fa-icon class="action reset" [icon]="['far', 'window-close']" (click)="resetItemCourse()"></fa-icon>
                            </div>
                        </div>
                      </td>
                      <td class="tg-0lax">{{item.banner}}</td>
                      <td class="tg-0lax" style="width: 120px;">
                        <div class="row">
                          <div class="col-sm-3">
                            <fa-icon class="action" [icon]="['fas', 'trash-alt']" (click)="delCourse(item.id)"></fa-icon>
                          </div>
                          <div class="col-sm-3">
                            <fa-icon class="action" [icon]="['far', 'eye']" (click)="getDetailCourse(item.id)"></fa-icon>
                          </div>
                          <div class="col-sm-3">
                            <fa-icon class="action" [icon]="['fas', 'edit']" (click)="editExcercise(item.id)"></fa-icon>
                          </div>
                          <div class="col-sm-3">
                            <fa-icon class="action" [icon]="['fas', 'clipboard-list']"  (click)="showItemByCourse(item.id)"></fa-icon>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
                <ng-template #noCourseItem>
                    <tr>
                      <td colspan="4">
                        Không có dữ liệu
                      </td>
                    </tr>
                </ng-template>
              </table>
              <div *ngIf="(courseItem$ | async) as courseItem">
                <ngb-pagination (pageChange)="onPageChange($event)" [pageSize] = "per_page" [maxSize]="2"
                  [collectionSize]="courseItem.pagination.total" [(page)]="page"></ngb-pagination>
              </div>
    
            </tab>
          
            <tab tab2 heading="discover" id="second" #second (select)="tabSelect(1)">

              <table class="tg" style="width: 100%;">
                <thead>
                  <tr>
                    <th class="tg-0pky">ID</th>
                    <th class="tg-0pky">Tên</th>
                    <th class="tg-0pky">Layout</th>
                    <th class="tg-0pky">Action</th>
                  </tr>
                </thead>
      
                <tbody *ngIf="(courseDisItem$ | async) as courseDisItem; else nocourseDisItem">
                  <ng-container *ngFor="let item of courseDisItem.courses; let inx = index">
                    <tr [ngClass]="inx%2 !== 0 ? 'bgd4' : ''">
                      <td class="tg-0lax">{{item.id}}</td>
                      <td class="tg-0lax" >
                        <div *ngIf="inx !== inxCourse">
                          {{item.name}}
                        </div>
                        <div *ngIf="!ckChangeName && inx === inxCourse">
                            <input type="email" class="form-control" [(ngModel)]="item.name" id="exampleInputEmail1" placeholder="Enter course name">
                            <div *ngIf="ckError" class="error">
                                {{error}}
                            </div>
                            <div class="action-edit">
                              <fa-icon class="action save" [icon]="['fas', 'check']" (click)="saveEdit(item)"></fa-icon>
                              <fa-icon class="action reset" [icon]="['far', 'window-close']" (click)="resetItemCourse()"></fa-icon>
                            </div>
                        </div>
                      </td>
                      <td class="tg-0lax">{{item.layout_type}}</td>
                      <td class="tg-0lax" style="width: 120px;">
                        <div class="row">
                          <div class="col-sm-3">
                            <fa-icon class="action" [icon]="['fas', 'trash-alt']" (click)="delCourse(item.id)"></fa-icon>
                          </div>
                          <div class="col-sm-3">
                            <fa-icon class="action" [icon]="['far', 'eye']" (click)="getDetailCourse(item.id)"></fa-icon>
                          </div>
                          <div class="col-sm-3">
                            <fa-icon class="action" [icon]="['fas', 'edit']" (click)="editExcercise(item.id)"></fa-icon>
                          </div>
                          <div class="col-sm-3">
                            <fa-icon class="action" [icon]="['fas', 'clipboard-list']"  (click)="showItemByCourse(item.id)"></fa-icon>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
                <ng-template #nocourseDisItem>
                    <tr>
                      <td colspan="4">
                        Không có dữ liệu
                      </td>
                    </tr>
                </ng-template>
              </table>
              <div *ngIf="(courseDisItem$ | async) as courseDisItem">
                <ngb-pagination (pageChange)="onPageChangeDis($event)" [pageSize] = "per_page" [maxSize]="2"
                  [collectionSize]="courseDisItem.pagination.total" [(page)]="page"></ngb-pagination>
              </div>
            </tab>
          </tabset>

          </ngx-loading>


      </div>
    </div>
  </div>
</div>
