<h1 mat-dialog-title>Bạn có chắc xóa không?</h1>
<div mat-dialog-content>
  <button type="button" style="width: 100px; margin-right: 20px;" (click)="cancel()" class="btn btn-outline-secondary">Cancel</button>
  <button type="button" style="width: 100px;" (click)="del()" class="btn btn-outline-danger">Delete</button>
</div>

